{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        {% block body %}
        {% for item in item_list %}
            <div class="row">
             <div class="col-md-3 offset-md-2 new">
                  <img class="card"  style="width: 18rem;" src="{{item.item_img}}">
             </div>
             <div class="col-md-4">
                 <h1>{{item.item_name}}</h1>
                 <h3>{{item.item_desc}}</h3>
                 <h5>$ {{item.item_price}}</h5>
                 <h6>added by: {{item.username}}</h6>
             </div>
             <div class="col-md-2">
                 <a href="{% url 'food:detail' item.id %}" class="btn btn-success">Details</a>
             </div>
         </div>

        {% endfor %}
         {% endblock %}
<!--<ul>-->
<!--        <l>-->
<!--            <a href="">{{item.id}}&#45;&#45;{{item.item_name}}</a>-->
<!--        </l>-->
<!--    </ul>-->

</body>
</html>